*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

body {
  font-family: $project-font;
  margin: 0;
  min-height: 100%;
  min-width: 320px;
  width: 100vw;
  align-self: center;
  display: flex;
  flex-direction: column;
  background-image:
    linear-gradient(
      -225deg,
      #473b7b 0%,
      #337c86 51%,
      #3584a7 100%
    );
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  color: #d3e1e1;
}
