.booking {
  padding: 20px;
  font-family: $project-font;
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: center;

  &::before {
    position: absolute;
    content: "";
    min-width: 320px;
    width: 100vw;
    height: 1px;
    background-color: #bccaca;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 30px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 40px 60px;
  }
}

.booking__heading {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  color: #ffffff;
  width: 240px;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 400px;
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    font-size: 40px;
    line-height: 55px;
    margin: 0 0 30px;
  }
}

.booking__subheading {
  margin: 0 0 10px;
  padding: 0;
  display: block;
  text-align: center;
  width: 280px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 30px;
  }
}

.booking__link {
  display: flex;
  padding: 15px 15px 15px 35px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  color: #d3e1e1;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  background-image: linear-gradient(-45deg, #874da2 28%, #473b7b 100%);
  cursor: pointer;
  width: 200px;
  text-align: center;
  position: relative;
  transition: all 0.5 ease;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  &:hover {
    text-shadow: 0 0 4px #ffffff;
    color: #ffffff;
    box-shadow: 0 0 4px 3px #ffffff;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    text-shadow: 0 0 1px #ffffff;
    outline: none;
    box-shadow: 0 0 4px 3px #ffffff;
    border-radius: 7px;
  }

  &:active {
    opacity: 50%;
    box-shadow: none;
  }

  &::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    mask: url(../../icons/calendar-tick.svg) no-repeat center;
    background-color: #d3e1e1;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;

    @media (min-width: $desktop-width) {
      width: 35px;
      height: 35px;
      left: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 220px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    font-size: 22px;
    line-height: 28px;
  }
}

.booking__link:hover::after,
.booking__link:focus::after,
.booking__link:focus-visible::after,
.booking__link:focus-within::after {
  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}
