.contacts {
  padding: 20px 20px 0;
  font-family: $project-font;
  position: relative;
  align-self: center;

  &::before {
    position: absolute;
    content: "";
    width: calc(100vw - 6px);
    min-width: 320px;
    height: 1px;
    background-color: #bccaca;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 30px 45px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 30px 60px 0;
  }
}

.contacts__heading {
  margin: 0 0 25px;
  padding: 0;
  font-size: 24px;
  line-height: 22px;
  font-weight: 700;
  color: #d3e1e1;

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 34px;
  }
}

.contacts__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 25px;
  }
}

.contacts__list {
  list-style: none;
  margin: 0 0 25px;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: 15px;
}

.contacts__list-title {
  margin: 0;
  // padding: 5px;
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 26px;
  }
}

.contacts__list-item {
  margin: 0;
  padding: 0 0 0 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  height: 40px;

  @media (min-width: $desktop-width) {
    padding: 0 0 0 40px;
    gap: 30px;
  }
}

.contacts__list-item--phone::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  mask: url("../../icons/call.svg") no-repeat center;
  background-color: #ffffff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $desktop-width) {
    width: 30px;
    height: 30px;
  }
}

.contacts__list-item--address::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  mask: url("../../icons/location.svg") no-repeat center;
  background-color: #ffffff;
  left: 0;
  // top: 0;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $desktop-width) {
    width: 30px;
    height: 30px;
  }
}

.contacts__list-description,
.contacts-list-description,
.contacts-list-description-phone {
  text-decoration: none;
  color: #d3e1e1;
  display: flex;
  margin: 0;
  height: 100%;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  transition: all 0.3s ease;

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 26px;
  }

  &:hover {
    text-shadow: 0 0 4px #ffffff;
    color: #ffffff;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    text-shadow: 0 0 1px #ffffff;
    outline: none;
    box-shadow: 0 0 4px 3px #ffffff;
    border-radius: 7px;
  }

  &:active {
    opacity: 50%;
    box-shadow: none;
  }
}

.contacts__social-list {
  margin: 0 0 25px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;

  @media (min-width: $desktop-width) {
    gap: 30px;
  }
}

.contacts__social-list-item {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  padding: 5px;
  background-image: linear-gradient(-23deg, #537895 40%, #56317a 100%);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 70px;
    // padding: 10px;
  }

  &:hover {
    box-shadow: 0 0 4px 3px #ffffff;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    text-shadow: 0 0 1px #ffffff;
    outline: none;
    box-shadow: 0 0 4px 3px #ffffff;
  }

  &:active {
    opacity: 50%;
    box-shadow: none;
  }
}

.contacts__social-list-link {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #d3e1e1;

  &--vk {
    mask: url("../../icons/vk.svg") no-repeat center;
    mask-size: 90%;
  }

  &--telegram {
    mask: url("../../icons/telegram.svg") no-repeat center;
    mask-size: 80%;
  }

  &--instagram {
    mask: url("../../icons/instagram.svg") no-repeat center;
    mask-size: 80%;
  }
}

.contacts__location {
  position: relative;
  margin: 0 calc((100% - 320px) / 2);

  @media (min-width: $tablet-width) {
    margin: 0 calc((100% - 768px) / 2);
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 calc((100% - 1440px) / 2);
  }
}

.contacts__location-map {
  display: block;
  padding: 0;
  border: none;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  width: 320px;
  height: 362px;
  position: relative;
  transition: width 0.3s ease;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    min-height: 600px;
  }
}

.contacts__location-map-img {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  z-index: 0;
}
