.footer {
  font-family: $project-font;
  letter-spacing: 0;
  min-width: 320px;
  background-color: #403270;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
}

.footer__contacts-list {
  display: flex;
  margin: 0;
  list-style: none;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px 15px;
  align-self: center;
  width: 320px;
  padding: 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    justify-content: space-between;
    padding: 30px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 40px 60px;
  }
}

.footer__contacts-item {
  display: flex;
  margin: 0;
  padding: 0 0 0 20px;
  position: relative;

  @media (min-width: $desktop-width) {
    padding: 0 0 0 35px;
    align-items: center;
  }
}

.footer__contacts-description,
.footer__contacts-link {
  text-decoration: none;
  color: #d3e1e1;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  padding: 5px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 20px;
    padding: 15px;
  }

  &:hover {
    text-shadow: 0 0 4px #ffffff;
    color: #ffffff;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    text-shadow: 0 0 1px #ffffff;
    outline: none;
    box-shadow: 0 0 4px 3px #ffffff;
    border-radius: 7px;
  }

  &:active {
    opacity: 50%;
    box-shadow: none;
  }
}

.footer__contacts-item--phone::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  mask: url("../../icons/call.svg") no-repeat center;
  background-color: #ffffff;

  @media (min-width: $desktop-width) {
    width: 25px;
    height: 25px;
  }
}

.footer__contacts-item--address::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  mask: url("../../icons/location.svg") no-repeat center;
  background-color: #ffffff;

  @media (min-width: $desktop-width) {
    width: 25px;
    height: 25px;
  }
}
