.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  min-width: 320px;
  background-color: #403270;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    max-width: 1440px;
    height: 1px;
    background-color: #bccaca;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.header__booking__link {
  padding: 10px 10px 10px 30px;
  font-size: 13px;
  width: 150px;

  &::after {
    width: 20px;
    height: 20px;
    left: 10px;
  }
}

.header__navigation {
  display: none;
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #403270;
  opacity: 97%;
  padding: 20px;
  transition: all 0.3s ease;
}

.header__navigation.header__navigation--opened {
  display: block;
}

.header__navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

.header__navigation-link {
  display: block;
  color: #d3e1e1;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
  font-size: 16px;
}

// .header__toggle {
//   margin: 0;
//   padding: 0;
//   cursor: pointer;
//   width: 26px;
//   height: 26px;
//   background-color: inherit;
//   border: none;
//   display: block;
//   position: relative;
//   transition: transform 0.3s ease;

//   &::before {
//     position: absolute;
//     content: "";
//     width: 26px;
//     height: 2px;
//     background-color: #ffffff;
//     left: 0;
//     top: 4px;
//     transition: transform 0.3s ease;
//   }

//   &::after {
//     position: absolute;
//     content: "";
//     width: 26px;
//     height: 2px;
//     background-color: #ffffff;
//     left: 0;
//     bottom: 4px;
//     transition: transform 0.3s ease;
//   }

//   &--opened::before {
//     transform: rotate(45deg);
//     top: 50%;
//     width: 22px;
//   }

//   &--opened::after {
//     transform: rotate(-45deg);
//     top: 50%;
//     width: 22px;
//   }
// }

// .header__toggle-icon {
//   margin: 0;
//   padding: 0;
//   display: block;
//   position: absolute;
//   content: "";
//   width: 26px;
//   height: 2px;
//   background-color: #ffffff;
//   top: 50%;
//   transform: translateY(-50%);
//   left: 0;
//   transition: display 0.3s ease;

//   &--opened {
//     display: none;
//     transition: display 0.3s ease;
//   }
// }
.header__toggle {
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 26px;
  height: 26px;
  background-color: inherit;
  border: none;
  display: block;
  position: relative;
  transition: transform 0.3s ease;
}

.header__toggle::before,
.header__toggle::after,
.header__toggle-icon {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  left: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.header__toggle::before {
  top: 4px;
}

.header__toggle::after {
  bottom: 4px;
}

.header__toggle-icon {
  top: 50%;
  transform: translateY(-50%);

}

.header__toggle--opened::before {
  transform: translateY(8px) rotate(45deg);
  // width: 22px;
}

.header__toggle--opened::after {
  transform: translateY(-8px) rotate(-45deg);
  // width: 22px;

}

.header__toggle--opened .header__toggle-icon {
  opacity: 0;
}
