.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  width: 100vw;
  align-self: center;
  background-color: #403270;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    min-width: 320px;
    height: 1px;
    background-color: #bccaca;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.header__wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 320px;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 30px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 30px 60px;
  }
}

.header__booking-link {
  font-size: 13px;
  width: 150px;
  flex-shrink: 0;
  z-index: 1;
  transition: all 0.3 ease;

  &::after {
    width: 20px;
    height: 20px;
    left: 10px;

    @media (min-width: $desktop-width) {
      width: 25px;
      height: 25px;
      left: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 15px 15px 15px 30px;
    font-size: 16px;
    width: 200px;
  }
}

.header__navigation {
  display: none;
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #403270;
  opacity: 97%;
  transition: all 0.3s ease;
  padding: 20px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 30px 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: static;
    width: 700px;
    padding: 0;
    margin-left: -20px;
  }
}

.header__navigation.header__navigation--opened {
  display: flex;
}

.header__navigation-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  width: 320px;
  align-content: flex-start;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    flex-flow: row wrap;
    width: 1320px;
    gap: 40px;
  }
}

.header__navigation-link {
  display: block;
  color: #d3e1e1;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
  font-size: 16px;
  padding: 15px 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    text-shadow: 0 0 4px #ffffff;
    color: #ffffff;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    text-shadow: 0 0 4px #ffffff;
    outline: none;
    box-shadow: 0 0 4px 3px #ffffff;
    border-radius: 7px;
  }

  &:active {
    opacity: 50%;
    box-shadow: none;
  }
}

.header__toggle {
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  display: block;
  position: relative;
  transition: transform 0.3s ease;

  @media (min-width: $desktop-width) {
    display: none;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
    box-shadow: 0 0 3px 3px #ffffff;
  }

  &:active {
    opacity: 50%;
    box-shadow: none;
  }
}

.header__toggle::before,
.header__toggle::after,
.header__toggle-icon {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  left: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.header__toggle::before {
  top: 4px;
}

.header__toggle::after {
  bottom: 4px;
}

.header__toggle-icon {
  top: 50%;
  transform: translateY(-50%);
}

.header__toggle--opened::before {
  transform: translateY(8px) rotate(45deg);
}

.header__toggle--opened::after {
  transform: translateY(-8px) rotate(-45deg);
}

.header__toggle--opened .header__toggle-icon {
  opacity: 0;
}
