.hero {
  padding: 20px;
  position: relative;
  font-family: $project-font;
  align-self: center;

  &::before {
    position: absolute;
    content: "";
    min-width: 320px;
    width: calc(100vw - 4px);
    height: 1px;
    background-color: #bccaca;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    padding: 30px 45px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 60px;
    width: 1440px;
  }
}

.hero__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    border-radius: 4px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  }
}

.hero__heading {
  color: #d3e1e1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin: 0 0 10px;
  padding: 0;
  display: block;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 38px;
    margin: 0 0 20px;
    width: 320px;
  }

  @media (min-width: $desktop-width) {
    font-size: 52px;
    line-height: 64px;
    margin: 0 0 20px;
    width: 610px;
  }
}

.hero__title {
  display: block;
  color: #d3e1e1;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 60px;
  line-height: 65px;
  margin: 0 0 15px;
  padding: 0;
  width: 280px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 68px;
    line-height: 75px;
    width: 320px;

    &::before {
      position: absolute;
      content: attr(data-heading);
      font-size: 70px;
      line-height: 80px;
      opacity: 3%;
      left: 0;
      top: -26px;
      text-align: center;
      letter-spacing: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 97px;
    line-height: 110px;
    margin: 0 0 30px;
    width: 600px;

    &::before {
      font-size: 115px;
      line-height: 130px;
    }
  }
}

.hero__address-link.contacts-list-description {
  display: flex;
  flex-flow: row wrap;
  width: 200px;
  position: relative;
  padding: 6px 6px 6px 30px;
  // border: solid 1px #BCCACA;
  border-radius: 7px;
  font-size: 14px;
  line-height: 18px;
  color: #bccaca;
  margin: 0 0 20px;
  align-items: center;
  height: unset;

  &:hover {
    text-shadow: 0 0 4px #ffffff;
    color: #ffffff;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    text-shadow: 0 0 1px #ffffff;
    outline: none;
    box-shadow: 0 0 4px 3px #ffffff;
    border-radius: 7px;
  }

  &:active {
    opacity: 50%;
    box-shadow: none;
  }


  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    mask: url("../../icons/location.svg") no-repeat center;
    background-color: #ffffff;
    left: 3px;
    top: 6px;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    font-size: 20px;
    line-height: 22px;
    padding: 6px 6px 6px 35px;
    margin: 0 0 30px;

    &::after {
      width: 25px;
      height: 25px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.hero__phone-link.contacts-list-description.contacts-list-description-phone {
  display: flex;
  align-items: center;
  position: relative;
  padding: 6px 6px 6px 30px;
  font-size: 14px;
  line-height: 18px;
  height: unset;

  &:hover {
    text-shadow: 0 0 4px #ffffff;
    color: #ffffff;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    text-shadow: 0 0 1px #ffffff;
    outline: none;
    box-shadow: 0 0 4px 3px #ffffff;
    border-radius: 7px;
  }

  &:active {
    opacity: 50%;
    box-shadow: none;
  }

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    mask: url("../../icons/whatsapp.svg") no-repeat center;
    background-color: #ffffff;
    left: 3px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 22px;
    padding: 6px 6px 6px 35px;

    &::after {
      width: 25px;
      height: 25px;
    }
  }
}
