.hero__heading {
  font-family: "Poppins", Arial, sans-serif;
  color: #bccaca;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 26px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.hero__title {
  color: #bccaca;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 85px;
  margin: 0;
  padding: 0;
  // line-height: 28px;
}
