.services {
  width: 320px;
  padding: 20px;
  font-family: $project-font;
  color: #d3e1e1;
  position: relative;
  align-self: center;

  &::before {
    position: absolute;
    content: "";
    width: calc(100vw - 1px);
    min-width: 320px;
    height: 1px;
    background-color: #bccaca;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 30px 45px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px 130px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    gap: unset;
    padding: 40px 60px;
    justify-content: space-between;
    align-items: center;
  }
}

.services__heading {
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
    font-size: 26px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 30px;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
  }
}

.services__massage {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  list-style: none;
  margin: 0 0 20px;
  padding: 0 0 0 30px;

  @media (min-width: $desktop-width) {
    gap: 25px;
    margin: 0;
    padding: 0 0 0 45px;
  }
}

.services__massage-item {
  display: block;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    mask: url("../../icons/check-mark.svg") no-repeat center;
    width: 15px;
    height: 15px;
    background-color: #bccaca;
    left: -25px;

    @media (min-width: $desktop-width) {
      width: 25px;
      height: 25px;
      left: -35px;
      top: -5px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 26px;
  }
}

.services__fitness {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  list-style: none;
  margin: 0 0 20px;
  padding: 0 0 0 30px;

  @media (min-width: $desktop-width) {
    gap: 20px;
    margin: 0;
    padding: 0 0 0 45px;
  }
}

.services__fitness-item {
  display: block;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    mask: url("../../icons/check-mark.svg") no-repeat center;
    width: 15px;
    height: 15px;
    background-color: #bccaca;
    left: -25px;

    @media (min-width: $desktop-width) {
      width: 25px;
      height: 25px;
      left: -35px;
      top: -5px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 26px;
  }
}

.services__fitness-sublist {
  display: flex;
  flex-flow: column wrap;
  padding: 10px 0 10px 10px;
  gap: 10px;
  list-style: none;

  @media (min-width: $desktop-width) {
    gap: 20px;
    font-size: 20px;
    line-height: 22px;
  }
}

.services__fitness-sublist-item {
  display: block;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background-color: #bccaca;
    top: 50%;
    transform: translateY(-50%);
    left: -18px;
  }
}

.services__certificate {
  display: flex;
  flex-flow: column wrap;
  text-decoration: none;
  color: #d3e1e1;
  position: relative;
  cursor: pointer;
  padding: 20px;
  border-radius: 7px;
  // background-image: linear-gradient(to top, #6a85b6 0%, #56315d 100%); //++
  background-image: linear-gradient(-45deg, #874da2 28%, #473b7b 100%); //=++
  // background-image: linear-gradient(-23deg, #537895 40%, #56317a 100%);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  // border: solid 1px #d3e1e1;
  // background-color:  rgba(86, 49, 93, 0.6); //?
  // background-color: rgba(71, 59, 123, 0.6);
  // width: 260px;
  // align-self:center;
  transition: all 0.3s ease;

  @media (min-width: $tablet-width) {
    width: 400px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 20px;
    width: 280px;
  }

  &:hover {
    outline: none;
    box-shadow: 0 0 4px 3px #ffffff;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
    box-shadow: 0 0 4px 3px #ffffff;
  }

  &:active {
    opacity: 50%;
    box-shadow: none;
  }


  &::before {
    position: absolute;
    content: "";
    mask: url("../../icons/gift.svg") no-repeat center;
    background-color: #d3e1e1;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    top: 85px;

    @media (min-width: $tablet-width) {
      top: 55px;
    }

    @media (min-width: $desktop-width) {
      width: 90px;
      height: 90px;
      top: 100px;
    }
  }
}

.services__certificate-wrapper {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  min-height: 280px;

  @media (min-width: $tablet-width) {
    min-height: 210px;
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    flex-flow: column wrap;
    gap: 20px;
    min-height: 320px;
  }

  justify-content: space-between;
}

.services__certificate-wrapper div {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.services__certificate-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 28px;
    line-height: 30px;
    // margin: 0 0 30px;
    text-align: center;
  }
}

.services__certificate-text {
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }
}
