
.swiper.gallery__swiper {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    justify-content: center;
  }
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease;
  width: 285px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0;
    // margin: 0 auto;
    // justify-content: center;

  }
}

.swiper-slide {
  flex-shrink: 0;
  width: 245px;
  height: auto;
  display: flex;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
justify-content: center;
  width: 286px;
}
}

.gallery__swiper-image {
  display: block;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;

}

// .swiper-navigation {
//   display: flex;
//   margin: 0;
//   padding: 0;
//   gap: 4px;
//   position: absolute;
//   content: "";
//   width: 100px;
//   height: 50px;
//   // top: -65px;
//   // right: 0;
//   z-index: 1;
//   justify-content: flex-end;
//   border: red solid 3px;
// }

.gallery__button.swiper-button-next,
.gallery__button.swiper-button-prev {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  // border: orange solid 3px;;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;

  @media (min-width: $tablet-width) {
    width: 25px;
    height: 25px
  }

}

.gallery__button.swiper-button-next {
    content: "";
    mask: url(../../icons/arrow-right.svg) no-repeat center;
    background-color: #bccaca;
    background-size: contain;
    right: 0;
    @media (min-width: $tablet-width) {
      right: -5px;

    }
}

.gallery__button.swiper-button-prev {
    content: "";
    mask: url(../../icons/arrow-left.svg) no-repeat center;
    background-color: #bccaca;
    background-size: contain;
    left: 0;
    @media (min-width: $tablet-width) {
      left: -5px;

    }
  }

