.swiper.gallery__swiper {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-self: center;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease;
  width: 280px;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
  }
}

.swiper-slide {
  flex-shrink: 0;
  width: 245px;
  height: auto;
  display: flex;
  margin: 0 auto;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 286px;
  }
}

.gallery__swiper-image {
  display: block;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.gallery__button.swiper-button-next,
.gallery__button.swiper-button-prev {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  width: 25px;
  height: 360px;
  cursor: pointer;
  transition: all 0.3s ease;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 420px;
  }

  @media (min-width: $desktop-width) {
    width: 60px;
    height: 60px;
    top: unset;
    transform: unset;
    bottom: 40px;
    border: solid 1px #bccaca;
    border-radius: 50%;
  }

  &:hover {
    outline: none;
    box-shadow: 0 0 4px 3px #ffffff;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
    box-shadow: 0 0 4px 3px #ffffff;
  }

  &:active {
    opacity: 50%;
    box-shadow: none;
  }
}

.gallery__button.swiper-button-next {
  right: 0;

  @media (min-width: $desktop-width) {
    right: 44%;
    transform: translateX(-44%);
    padding: 10px 12px 10px 15px;
  }
}

.gallery__button.swiper-button-prev {
  left: 0;

  @media (min-width: $desktop-width) {
    left: 44%;
    transform: translateX(-44%);
    padding: 10px 15px 10px 10px;

  }
}

.gallery__button.swiper-button-next::after {
  content: "";
  mask: url(../../icons/arrow-right.svg) no-repeat center;
  background-color: #bccaca;
  background-size: contain;
  width: 25px;
  height: 25px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 35px;
    height: 35px;
  }
}

.gallery__button.swiper-button-prev::after {
  content: "";
  mask: url(../../icons/arrow-left.svg) no-repeat center;
  background-color: #bccaca;
  background-size: contain;
  // left: 0;
  width: 25px;
  height: 25px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 30px;
  }
  @media (min-width: $desktop-width) {
    width: 35px;
    height: 35px;
  }
}

.gallery__button.swiper-button-prev:hover::after,
.gallery__button.swiper-button-prev:focus::after,
.gallery__button.swiper-button-prev:focus-visible::after,
.gallery__button.swiper-button-prev:focus-within::after,
.gallery__button.swiper-button-next:hover::after,
.gallery__button.swiper-button-next:focus::after,
.gallery__button.swiper-button-next:focus-visible::after,
.gallery__button.swiper-button-next:focus-within::after {
  background-color: #ffffff;
}
